/* COLOR THEME - Roses-In-Oslo-color-theme */

body {
    font-family: "Lucida Console", Times, Sans-serif;
    margin: 0;
}


ul.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

ul.sidenav li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

ul.sidenav li a.active {
    background-color: #4CAF50;
    color: white;
}

ul.sidenav li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content {
    margin-left: 25%;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 900px) {
    ul.sidenav {
        width: 100%;
        height: auto;
        position: relative;
    }
    ul.sidenav li a {
        float: left;
        padding: 15px;
    }
    div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    ul.sidenav li a {
        text-align: center;
        float: none;
    }
}


.login-wrapper{
    width: 300px;
    height: 200px;
    background-color: white;
    margin: auto;
    opacity: 0.5;
    border-radius: 8px;
    padding-top: 2%;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 5px 5px 10px;
    margin-top: 14%;
}
    .login-wrapper .login-title h1{
        display: inline-block;
        text-align: center;
        margin-left: 34%;
    }
    .login-wrapper form{
        font-size: 16px;
        display: inline-block;
        text-align: center;
    }
        .login-wrapper form input{
            border-radius:5px;
            height: 20px;
            margin-bottom: 10px;
        }


/* DASHBOARD TABLE */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
/* DASHBOARD TABLE END */
